/*
forward slash and astreix--used to comment
*/

table {border: 100px solid green; }
table tr th {
      background-color: black;
      color: white;
}
table tr td {font-weight: bold; }
table tr th#one {background-color: yellow;
               color: black;
}
table tr th#Maryland {background-color; white;
                     color: red;
}

#main-content {width: 800px};
